/* Styling */
/* color: #59EA59; */
/* font-family: 'VT323', monospace; */

/* GENERAL */
body {
  min-height: 100vh;
  font-family: 'VT323', monospace;
  color: #000;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

/* HEADINGS */
h1 {
  margin: .5rem;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 3px #59EA59;
}

h2 {
  margin: .5rem;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

/* NAVBAR/BURGER MENU */
nav {
  position: relative;
  background: #000;
  min-height: 41px;
}

a {
  padding: .25rem;
  text-decoration: none;
  color: #59EA59;
}

nav ul {
  padding: .2em 0;
  align-items: center;
  flex-direction: column;
  background: #000;
  border-bottom: 1px solid #59EA59;
  line-height: 1.5;
  font-size: 0;
  transition: 1s;
  position: absolute;
  z-index: 1;
  width: 100vw;
}

ul.container.burger-open {
  font-size: 1.75em;
}

/* BURGER ICON */
.burger-icon {
  display: block;
  position: absolute;
  z-index: 2;
  top: 1px;
  left: 1px;
  padding: 5px 5px;
  width: 40px;
  cursor: pointer;
}

.burger-icon div {
  margin: 5px 5px;
  width: 30px;
  height: 3px;
  background-color: #59EA59;
  transition: 0.5s;
}

.transform #bar1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}

.transform #bar2 {
  opacity: 0;
}

.transform #bar3 {
  transform: rotate(45deg) translate(-6px, -8px) ;
}

/* CANVAS IMAGES */
.canvas-images {
  display: none;
}

/* CANVAS */
canvas {
  margin: 1.25% auto 0;
  box-sizing: border-box;
  width: 95%;
  max-width: 500px;
  height: calc(95vw * 0.75);
  max-height: 375px;
  display: block;
  border: 2px solid black;
}

/* QUIZ - QUESTION */
#question {
  box-sizing: border-box;
  margin: auto;
  padding: .25rem .5rem;
  width: 95%;
  max-width: 600px;
  border: 1px solid black;
  font-size: 1rem;
  font-weight: bold;
  visibility: hidden;
}

/* QUIZ - ANSWERS */
.answer {
  box-sizing: border-box;
  margin: auto;
  padding: .25rem .5rem;
  width: 95%;
  max-width: 600px;
  border: 1px solid black;
  text-align: left;
  font-size: 1rem;
  cursor: pointer;
  visibility: hidden;
}

/* MAIN CONTENT - INDEX & GAME COMPLETE PAGE */
main {
  margin: auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 50vh;
}

img {
  margin: .5rem 0 .25rem;
  height: 18vh;
  max-height: 150px;
  width: auto;
  max-width: 144px;
}

main p {
  margin: .5rem 1rem;
  font-size: 1.15em;
  line-height: 1.15;
  text-align: center;
}

/* BUTTON - LINK */
.button {
  margin: 1rem 0 1rem;
  padding: .5rem 1rem;
  background: #59EA59;
  color: #000;
  font-size: 1.5em;
}

/* FOOTER */
footer {
  margin-top: auto;
  min-height: 1.5rem;
  color: #59EA59;
  background: #000;
}

#copyright {
  margin: auto 1rem;
  font-size: 1rem;
}

/* MEDIA QUERIES */

/* If the user's primary input mechanism can hover over elements: */
@media(hover: hover) {
  .answer:hover, .button:hover {
    box-shadow: 0px 0px 5px #000;
  }
  .answer:active, .button:active {
    box-shadow: 0px 0px 1px #000;
  }
}

/* If the user's primary input mechanism can't hover over elements: */
@media(hover: none) {
  .answer:active, .button:active {
    box-shadow: inset 0px 0px 4px #000;
  }
}

@media only screen and (min-width: 600px) {
  #question, .answer {
    font-size: 1.25rem;
    padding: .5rem;
  }

  h1 {
    font-size: 3em;
  }

  h2, .button {
    font-size: 2em;
  }

  main p {
    font-size: 1.5em;
    max-width: 80vw;
  }
}

@media only screen and (min-width: 800px) {
  .burger-icon {
    display: none;
  }

  nav ul {
    position: static;
    width: auto;
    padding: .5rem;
    font-size: 2em;
    list-style-type: none;
    background: #000;
    color: #59EA59;
    flex-direction: row;
    justify-content: space-around;
  }

  #copyright {
    padding: .5rem;
    font-size: 1.25rem;
  }
}
